
@font-face {
    font-family: 'TimesNewLightItalic';
    src: url('http://localhost:3000/fonts/times-now-extralight-italic.woff2') format('woff2')
  }
  

.LandingPage {
    justify-content: center;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-image: url("./img/HomeLanding.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.Header {
    width: 600px;
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
  }
  
.TitleHeader {
    font-size: 60px;
    font-weight: 200;
    /* Other styles */
}

.Title {
    font-size: 60px;
    font-family: "TimesNewLightItalic", sans-serif;
    letter-spacing: -.186rem;
}

.Content {
    margin-top: 80px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .026rem;
    line-height: 1.65;
    font-family:'Times New Roman', Times, serif
}

.Button {
    display: flex;
    margin-top: 35px;
}

.Line {
    width: 40px;
    margin-right: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid rgb(255, 255, 255); /* Adjust color and thickness as needed */
}

.Text {
    font-size: 15px;
    font-weight: 600;
}

.HomeVod {
    position: relative;
    width: 100%;
    height: 100%;
}

.HomeVod video {
    display: flex;
    position: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.LandingImg {
    width: 100%;
    height: auto;
    display: block;
}