@font-face {
  font-family: 'TimesNewLightItalic';
  src: url('http://localhost:3000/fonts/times-now-extralight-italic.woff2') format('woff2')
}

.errorMessage {
  background-color: #ffffff; /* Red background */
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.retryButton {
  margin-top: 10px;
  background-color: #0db193;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 999;
  outline: none;
}

.retryButton:hover {
  background-color: #0b7dda;
}

.container {
  position: absolute;
  width: 350px;
  height: 100px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.storesContainer {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
}

.storeCard {
  display: flex;
  border-radius: 20px;
  width: 1000px;
  height: 400px;
  background-size: cover; 
  background-position: center;
  margin-top: 30px;
  border-color: #0db193;
  border-style: solid;
  border-width: 3px;
  border-radius: 12px;;
}

.storeImg {
  display: flex;
  width: 50%;
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.storeData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.storeDataChild {
  flex-direction: row;
  margin-top: 20px;
  border-radius: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 80%;
  padding: 10px;
}

.name {
  margin-top: 10px;
  font-size: 35px;
  font-family: TimesNewLightItalic;
}

.childRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.text {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}
.square {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  margin-top: 4px;
  background-color: #0db193;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.RoundButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 245px;
  width: 120px; /* Adjust width to fit longer arrow */
  height: 50px;
  background-color: #0db193;/* Button color */
  color: white; /* Text color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  font-size: 24px;
}


.RoundButton:hover {
  background-color: #0c927a;/* Button color */
}