.errorMessage {
  background-color: #ffffff; /* Red background */
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.retryButton {
  margin-top: 10px;
  background-color: #0db193;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 999;
  outline: none;
}

.retryButton:hover {
  background-color: #0b7dda;
}

.container {
  position: absolute;
  width: 350px;
  height: 100px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure it appears above the map */


}