/* default styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  /* navbar */
  .navbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
   padding-left: 9.25rem;
   padding-right: 9.25rem;
   background-color:white;
  }


  /* logo  */
  .logo {
   display: flex;
   opacity: 1;
   height: 70%;
   transition: fill .6s ease;
   margin:auto;
   border-style: none;
   box-sizing: border-box;  
  }

  .navMenu {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 153px;
    transition: 1s;
    background-color:white;
    position: relative;
    z-index: 60;
    box-sizing: border-box;
  }


  /* media queries */

  @media screen and (max-width: 780px){

    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
    }

    .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 70px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: white;
      padding: 10px;
    }

    .navMenu.active{
      left: 0;
    }

    .navMenu li {
      margin: 16px 0;
    }
  }

.NavLeft {
  width: 41.6666%;
  float: 0 0 auto;
  min-width: 0;
  min-height: 0;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  transition: color 0.3s;
  box-sizing: border-box;
}


.NavRight {
  width: 41.6666%;
  float: 0 0 auto;
  min-width: 0;
  min-height: 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  transition: color 0.3s;
  box-sizing: border-box;
}

.Map {
  
}

.navLink {
  font-size: 16px;
  font-weight: 600;
  padding-left: 35px;
  padding-right: 35px;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
}

.navLink:hover {
  color: rgb(0, 0, 0, 0.5);
}

.BurgerMenu {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-menu-toggle {
    display: block; /* Display menu toggle */
    cursor: pointer;
  }

  .navbar-menu.active {
    display: flex; /* Show menu when active */
  }
}