/* default styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding-left: 9.25rem;
  padding-right: 9.25rem;
  background-color: white;
  min-height: 140px;
  transition: 1s ease;
}

.navbar.expanded {
  min-height: 220px; /* Adjust based on your requirements */;
}

.searchContainer {
  opacity: 0;
  max-height: 0;
  transition: all opacity 0.3s ease, max-height 0.3s ease;
}

.navbar.expanded .searchContainer {
  opacity: 1;
  max-height: 60px; /* Adjust based on your requirements */
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998; /* Just below the navbar */
  transition: all opacity 2s ease-in-out;
}

.overlay.visible {
  display: block;
  opacity: 1;
}

/* logo */
.logo {
  display: flex;
  opacity: 1;
  height: 70%;
  transition: fill 0.6s ease;
  margin: auto;
  border-style: none;
  box-sizing: border-box;
}

.navMenu {
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 153px;
  transition: 1s;
  background-color: white;
  position: relative;
  z-index: 60;
  box-sizing: border-box;
}

@media (max-width: 1130px) {
  .navLink {
    display: none;
  }
}

.NavLeft {
  width: 41.6666%;
  float: 0 0 auto;
  min-width: 0;
  min-height: 0;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  transition: color 0.3s;
  box-sizing: border-box;
}

.NavRight {
  width: 41.6666%;
  float: 0 0 auto;
  min-width: 0;
  min-height: 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  transition: color 0.3s;
  box-sizing: border-box;
}

.navLink {
  font-size: 16px;
  font-weight: 600;
  padding-left: 35px;
  padding-right: 35px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
}

.navLink:hover {
  color: rgba(0, 0, 0, 0.5);
}

.BurgerMenu {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-menu-toggle {
    display: block; /* Display menu toggle */
    cursor: pointer;
  }

  .navbar-menu.active {
    display: flex; /* Show menu when active */
  }

  .profileLogo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Search bar styles */
.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white; /* Light background for search bar */
  overflow: hidden;
}

.searchInput:focus {
  border-color: none;
}
.searchInput {
  width: 80%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
