.container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.searchbarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.searchbar {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.textbox {
  width: 600px;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.button {
  padding: 15px 25px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.button:hover {
  background-color: #0056b3;
}

.rangeContainer {
  background: rgba(255, 255, 255, 0);
  padding: 3px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rangeSlider {
  width: 600px;
  margin-top: 10px;
}
