.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 80px;
}

.column {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  margin-right: 70px;
}

.item {
  margin: 8px 20px 8px 0;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid black;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.userContainer {
  width: 100%;
  padding: 20px;
}

.userContent {
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 60px; /* Add spacing between sections */
}